---                            
  import '../styles/global.css' 
 ---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>satik</title>
	</head>
	<body>
		<slot />
	</body>
</html>

